@import url('./assets/rn-selecter.css');

#body {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
    .post {
        margin-top: 25px;
    }
}

.headerImg {
    width: 64px;
}
